<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-4">
      <div class="text-center h3"><strong>推みやげ</strong></div>
      <div class="text-center mt-3 h5">
        <p>推みやげ（おしみやげ）は</p>
        <p>自分が「いいな」と思ったお土産の情報を投稿したり、</p>
        <p>旅行先でどんなお土産が推されているのか 検索したり</p>
        <p>できるコミュニティサイトです。</p>
      </div>
    </div>
  </div>
</div>